   <style is="custom-style">
    body {
      @apply(--layout-fullbleed);
    }
    paper-scroll-header-panel {
      @apply(--layout-fit);
      @apply(--layout-vertical);
      @apply(--paper-font-common-base);
      background-color: var(--paper-grey-200, #eee);
    }
    paper-toolbar.tall .title {
      font-size: 40px;
      margin-left: 60px;
      overflow: visible;
      -webkit-transform-origin: left center;
      transform-origin: left center;
    }
    paper-toolbar paper-icon-button {
      --paper-icon-button-ink-color: white;
    }
    iron-list {
      padding-bottom: 16px;
    }
    .item {
      @apply(--layout-horizontal);
      margin: 16px 16px 0 16px;
      padding: 20px;
      border-radius: 8px;
      background-color: white;
      border: 1px solid #ddd;
    }
    .item:focus {
      outline: 0;
      border-color: #666;
    }
    .avatar {
      height: 40px;
      width: 40px;
      border-radius: 20px;
      box-sizing: border-box;
      background-color: #DDD;
    }
    .pad {
      padding: 0 16px;
      @apply(--layout-flex);
      @apply(--layout-vertical);
    }
    .primary {
      font-size: 16px;
      font-weight: bold;
    }
    .secondary {
      font-size: 14px;
    }
    .dim {
      color: gray;
    }
    .spacer {
      @apply(--layout-flex);
    }
    h2 {
    text-align: center;
    margin: 30px 0;
}
.demo-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 100px;
}
h4.title {
  text-align: center;
}
  </style>
  <div>
    <h2 translate="craftApp.cr_image.home.title">Cr_images</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="cr_image.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="craftApp.cr_image.home.createLabel">Create a new Cr_image</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Cr_image</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">


<div class="demo-card">
    <div class="card">
        <div class="card-header">
            This is a card header
        </div>
        <img class="card-img-top" src="http://placekitten.com/500/200">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="card-block">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
        <div class="card-block">
            <a href="#" class="btn btn-primary">Button</a>
        </div>
        <div class="card-footer text-muted">
            This is a card footer
        </div>
    </div>
</div>
<h4 class="title">Background Variant Cards</h4>
<div class="demo-card">
    <div class="card card-inverse card-primary text-center">
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in
                    <cite title="Source Title">Source Title</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="card card-inverse card-success text-center">
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in
                    <cite title="Source Title">Source Title</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="card card-inverse card-info text-center">
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in
                    <cite title="Source Title">Source Title</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="card card-inverse card-warning text-center">
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in
                    <cite title="Source Title">Source Title</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="card card-inverse card-danger text-center">
        <div class="card-block">
            <blockquote class="card-blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in
                    <cite title="Source Title">Source Title</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</div>
<h4 class="title">Card Groups <small>(notice matched heights)</small></h4>
<div class="demo-card">
    <div class="card-group">
        <div class="card">
            <img class="card-img-top img-responsive" src="http://placekitten.com/500/304">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-responsive" src="http://placekitten.com/500/304">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top img-responsive" src="http://placekitten.com/500/304">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<h4 class="title">Card 
  <small>(notice matched heights)</small></h4>
<div class="demo-card">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top img-responsive" src="http://placekitten.com/500/304">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top img-responsive" src="http://placekitten.com/500/304">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top img-responsive" src="http://placekitten.com/500/304">
                <div class="card-block">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="panel-group">
    <div class="panel panel-primary" ng-repeat="cr_image in cr_images track by cr_image.id" id="{{cr_image.id}}">
  <div class="panel-heading">
    <h3 class="panel-title">Panel primary</h3>
  </div>
  <div class="panel-body">
    {{cr_image.im_url}}
  </div>
</div>	
</div>

<div class="card">
  <img class="card-img-top" data-src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>
		 
  		<div id="cards">

    <paper-card id="shadow_demo" heading="Paper Shadows" class="pink" animated-shadow>
      <div class="card-content">
        Cards can have different shadows.
      </div>
      <div class="card-actions">
        <paper-button onclick="decreaseShadow()">Decrease</paper-button>
        <paper-button onclick="increaseShadow()">Increase</paper-button>
      </div>
    </paper-card>

    <paper-card heading="Cards can have titles" class="pink">
      <div class="card-content">
        Lorem ipsum dolor sit amet, nec ad conceptam interpretaris, mea ne solet repudiandae. Laudem nostrud ei vim. Sapientem consequuntur usu ad, vel etiam philosophia ex, ad quidam option quo. Sed sale integre pericula ei, rebum adipiscing ius ea.
      </div>
      <div class="card-actions">
        <paper-button>Nay</paper-button>
        <paper-button>Yay!</paper-button>
        <template is="dom-bind" id="expand-demo">
          <paper-icon-button
              icon="hardware:keyboard-arrow-down"
              title="more info"
              on-tap="_toggleMoreInfo"
              style="float: right;">
          </paper-icon-button>
          <iron-collapse id="more-info">
            Pro saepe pertinax ei, ad pri animal labores suscipiantur. Modus commodo minimum eum te, vero utinam assueverit per eu, zril oportere suscipiantur pri te. Partem percipitur deterruisset ad sea, at eam suas luptatum dissentiunt. No error alienum pro, erant senserit ex mei, pri semper alterum no. Ut habemus menandri vulputate mea. Feugiat verterem ut sed. Dolores maiestatis id per. Pro saepe pertinax ei, ad pri animal labores suscipiantur. Modus commodo minimum eum te, vero utinam assueverit per eu, zril oportere suscipiantur pri te. Partem percipitur deterruisset ad sea, at eam suas luptatum dissentiunt. No error alienum pro, erant senserit ex mei, pri semper alterum no. Ut habemus menandri vulputate mea. Feugiat verterem ut sed. Dolores maiestatis id per.
          </iron-collapse>
        </template>
      </div>
    </paper-card>
  </div>
 <div id="cards">
	    <div>
	        <paper-card ng-repeat="cr_image in cr_images track by cr_image.id" id="{{cr_image.id}}" heading="Image {{cr_image.id}}" class="pink" animated-shadow>

		      <div class="card-actions">
		        <paper-button>Decrease</paper-button>
		        <paper-button>Increase</paper-button>
		      </div>
   		 </paper-card>
  	  </div>
</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="craftApp.cr_image.im_url">Im_url</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cr_image in cr_images track by cr_image.id">
                    <td><a ui-sref="cr_image.detail({id:cr_image.id})">{{cr_image.id}}</a></td>
                    <td>{{cr_image.im_url}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="cr_image.detail({id:cr_image.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="cr_image.edit({id:cr_image.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="cr_image.delete({id:cr_image.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    function decreaseShadow() {
      var card = document.querySelector('#shadow_demo');
      card.elevation = card.elevation > 0 ? card.elevation - 1 : 0;
    }
    function increaseShadow() {
      var card = document.querySelector('#shadow_demo');
      card.elevation = card.elevation < 5 ? card.elevation + 1 : 5;
    }
    var expandDemo = document.getElementById('expand-demo');
    expandDemo._toggleMoreInfo = function(event) {
      var moreInfo = document.getElementById('more-info');
      var iconButton = Polymer.dom(event).localTarget;
      iconButton.icon = moreInfo.opened ? 'hardware:keyboard-arrow-down'
                                        : 'hardware:keyboard-arrow-up';
      moreInfo.toggle();
    };
 </script>