<div>
    <h2 translate="craftApp.cr_objet_craft.home.title">Cr_objet_crafts</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="cr_objet_craft.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="craftApp.cr_objet_craft.home.createLabel">Create a new Cr_objet_craft</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Cr_objet_craft</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="craftApp.cr_objet_craft.oc_quantite_element">Oc_quantite_element</span></th>
                    <th><span translate="craftApp.cr_objet_craft.cr_puissance">cr_puissance</span></th>
                    <th><span translate="craftApp.cr_objet_craft.cr_categorie_craft">cr_categorie_craft</span></th>
                    <th><span translate="craftApp.cr_objet_craft.cr_element">cr_element</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cr_objet_craft in cr_objet_crafts track by cr_objet_craft.id">
                    <td><a ui-sref="cr_objet_craft.detail({id:cr_objet_craft.id})">{{cr_objet_craft.id}}</a></td>
                    <td>{{cr_objet_craft.oc_quantite_element}}</td>
                    <td>
                        <a ui-sref="cr_puissance.detail({id:cr_objet_craft.cr_puissanceId})">{{cr_objet_craft.cr_puissancePu_libelle}}</a>
                    </td>
                    <td>
                        <a ui-sref="cr_categorie_craft.detail({id:cr_objet_craft.cr_categorie_craftId})">{{cr_objet_craft.cr_categorie_craftCc_nom_long_fr_fr}}</a>
                    </td>
                    <td>
                        <a ui-sref="cr_element.detail({id:cr_objet_craft.cr_elementId})">{{cr_objet_craft.cr_elementEl_nom_long_fr_fr}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="cr_objet_craft.detail({id:cr_objet_craft.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="cr_objet_craft.edit({id:cr_objet_craft.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="cr_objet_craft.delete({id:cr_objet_craft.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
